In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [42]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [3]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [5]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','17','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','17','11','2021','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Kolkata'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2021-11-17'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,07:40,2h 25m,Non Stop,Kolkata,New Delhi,5264,2021-11-17,Economy
1,Air Asia,23:40,2h 30m,Non Stop,Kolkata,New Delhi,5264,2021-11-17,Economy
2,Air Asia,19:45,2h 40m,Non Stop,Kolkata,New Delhi,5264,2021-11-17,Economy
3,SpiceJet,21:55,2h 30m,Non Stop,Kolkata,New Delhi,5265,2021-11-17,Economy
4,SpiceJet,06:05,2h 40m,Non Stop,Kolkata,New Delhi,5265,2021-11-17,Economy
...,...,...,...,...,...,...,...,...,...
486,Vistara,10:25,12h 30m,2 Stop(s),Kolkata,Hyderabad,17460,2021-11-17,Economy
487,Vistara,10:25,12h 30m,2 Stop(s),Kolkata,Hyderabad,17460,2021-11-17,Economy
488,Vistara,10:25,12h 30m,2 Stop(s),Kolkata,Hyderabad,17460,2021-11-17,Economy
489,Air India,09:40,21h 35m,1 Stop,Kolkata,Hyderabad,20169,2021-11-17,Economy
490,Air India,09:40,11h 55m,1 Stop,Kolkata,Hyderabad,20503,2021-11-17,Economy

In [7]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','15','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','15','11','2021','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Kolkata'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2021-11-15'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,5h 50m,1 Stop,Kolkata,New Delhi,6487,2021-11-15,Economy
1,Air Asia,05:25,6h 25m,1 Stop,Kolkata,New Delhi,6487,2021-11-15,Economy
2,Air Asia,19:35,7h 15m,1 Stop,Kolkata,New Delhi,6487,2021-11-15,Economy
3,Air Asia,19:55,7h 40m,2 Stop(s),Kolkata,New Delhi,6487,2021-11-15,Economy
4,Air Asia,19:35,8h 00m,1 Stop,Kolkata,New Delhi,6487,2021-11-15,Economy
...,...,...,...,...,...,...,...,...,...
70,SpiceJet,15:55,2h 30m,Non Stop,Kolkata,Chennai,6594,2021-11-15,Economy
71,Air Asia,13:30,2h 35m,Non Stop,Kolkata,Chennai,6594,2021-11-15,Economy
72,IndiGo,21:45,2h 20m,Non Stop,Kolkata,Chennai,6752,2021-11-15,Economy
73,IndiGo,14:50,5h 25m,1 Stop,Kolkata,Chennai,6977,2021-11-15,Economy
74,IndiGo,18:05,7h 50m,1 Stop,Kolkata,Chennai,6977,2021-11-15,Economy

In [8]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','2','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','2','11','2021','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Kolkata'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2021-11-2'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,16:30,4h 25m,1 Stop,Kolkata,Bangalore,6486,2021-11-2,Economy
1,Air Asia,16:30,6h 40m,1 Stop,Kolkata,Bangalore,6486,2021-11-2,Economy
2,Air Asia,16:30,7h 15m,2 Stop(s),Kolkata,Bangalore,6486,2021-11-2,Economy
3,Air Asia,16:30,8h 15m,2 Stop(s),Kolkata,Bangalore,6486,2021-11-2,Economy
4,Air Asia,09:05,9h 15m,1 Stop,Kolkata,Bangalore,6486,2021-11-2,Economy
...,...,...,...,...,...,...,...,...,...
95,IndiGo,16:20,6h 00m,1 Stop,Kolkata,Hyderabad,9377,2021-11-2,Economy
96,IndiGo,12:55,6h 55m,1 Stop,Kolkata,Hyderabad,9377,2021-11-2,Economy
97,IndiGo,12:55,8h 45m,1 Stop,Kolkata,Hyderabad,9377,2021-11-2,Economy
98,IndiGo,12:55,10h 30m,1 Stop,Kolkata,Hyderabad,9377,2021-11-2,Economy
99,IndiGo,06:10,4h 10m,1 Stop,Kolkata,Hyderabad,9429,2021-11-2,Economy

In [10]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','4','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','4','11','2021','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Kolkata'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2021-11-4'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,5h 50m,1 Stop,Kolkata,New Delhi,6487,2021-11-4,Economy
1,Air Asia,16:15,8h 45m,1 Stop,Kolkata,New Delhi,6487,2021-11-4,Economy
2,Air Asia,08:45,16h 15m,1 Stop,Kolkata,New Delhi,6487,2021-11-4,Economy
3,Go First,06:00,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
4,SpiceJet,21:55,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
5,Go First,14:20,2h 35m,Non Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
6,SpiceJet,06:05,2h 40m,Non Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
7,Go First,11:50,5h 50m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
8,Go First,16:45,7h 05m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
9,Go First,04:55,7h 15m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
10,Go First,17:30,7h 20m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
11,Go First,17:30,8h 30m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
12,Go First,04:55,9h 35m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
13,Go First,09:20,9h 35m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
14,Go First,11:50,9h 40m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
15,Go First,04:55,10h 50m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
16,Go First,09:30,12h 20m,2 Stop(s),Kolkata,New Delhi,6488,2021-11-4,Economy
17,Go First,06:15,12h 40m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
18,SpiceJet,14:45,23h 40m,1 Stop,Kolkata,New Delhi,6488,2021-11-4,Economy
19,Air India,07:00,2h 15m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
20,Air India,20:30,2h 15m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
21,Vistara,10:15,2h 20m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
22,Vistara,07:10,2h 25m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
23,Vistara,15:20,2h 25m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
24,IndiGo,01:15,2h 30m,Non Stop,Kolkata,New Delhi,6489,2021-11-4,Economy
25,Air Asia,16:30,4h 25m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
26,Air Asia,09:05,9h 15m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
27,Air Asia,16:30,9h 25m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
28,Air Asia,04:40,10h 50m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
29,Air Asia,04:40,12h 20m,2 Stop(s),Kolkata,Bangalore,6486,2021-11-4,Economy
30,Air Asia,07:40,14h 00m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
31,Air Asia,19:45,14h 55m,1 Stop,Kolkata,Bangalore,6486,2021-11-4,Economy
32,SpiceJet,06:10,2h 15m,Non Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
33,Go First,16:45,2h 35m,Non Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
34,Go First,09:30,2h 40m,Non Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
35,SpiceJet,20:05,2h 40m,Non Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
36,Go First,17:00,6h 59m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
37,Go First,14:20,7h 05m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
38,Go First,17:30,7h 05m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
39,Go First,11:50,7h 30m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
40,Go First,11:50,8h 40m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
41,Go First,04:55,11h 15m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
42,Go First,17:30,14h 10m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
43,Go First,06:00,15h 25m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
44,SpiceJet,22:45,22h 25m,1 Stop,Kolkata,Bangalore,6488,2021-11-4,Economy
45,Air India,14:10,2h 35m,Non Stop,Kolkata,Bangalore,6489,2021-11-4,Economy
46,IndiGo,05:25,2h 40m,Non Stop,Kolkata,Bangalore,6489,2021-11-4,Economy
47,IndiGo,07:15,2h 45m,Non Stop,Kolkata,Bangalore,6489,2021-11-4,Economy
48,IndiGo,11:35,2h 45m,Non Stop,Kolkata,Bangalore,6489,2021-11-4,Economy
49,IndiGo,14:25,2h 45m,Non Stop,Kolkata,Bangalore,6489,2021-11-4,Economy

In [13]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','6','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','6','11','2021','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Kolkata'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2021-11-6'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,5h 50m,1 Stop,Kolkata,New Delhi,6487,2021-11-6,Economy
1,Air Asia,12:30,9h 05m,2 Stop(s),Kolkata,New Delhi,6487,2021-11-6,Economy
2,Air Asia,21:35,11h 20m,1 Stop,Kolkata,New Delhi,6487,2021-11-6,Economy
3,Go First,06:00,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-6,Economy
4,SpiceJet,21:55,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-6,Economy
...,...,...,...,...,...,...,...,...,...
576,Vistara,20:20,17h 30m,1 Stop,Kolkata,Goa,26439,2021-11-6,Economy
577,Vistara,10:15,27h 35m,1 Stop,Kolkata,Goa,26439,2021-11-6,Economy
578,Air India,10:25,26h 50m,1 Stop,Kolkata,Goa,27909,2021-11-6,Economy
579,Vistara,15:20,22h 30m,1 Stop,Kolkata,Goa,28014,2021-11-6,Economy
580,Air India,20:30,16h 45m,1 Stop,Kolkata,Goa,29169,2021-11-6,Economy

In [14]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','8','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','8','11','2021','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Kolkata'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2021-11-8'
x6['fclass'] = 'Economy'
x6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,16:30,4h 25m,1 Stop,Kolkata,Bangalore,6486,2021-11-8,Economy
1,Air Asia,16:30,6h 40m,1 Stop,Kolkata,Bangalore,6486,2021-11-8,Economy
2,Air Asia,05:25,8h 30m,1 Stop,Kolkata,Bangalore,6486,2021-11-8,Economy
3,Air Asia,05:25,8h 45m,1 Stop,Kolkata,Bangalore,6486,2021-11-8,Economy
4,Air Asia,16:30,9h 25m,1 Stop,Kolkata,Bangalore,6486,2021-11-8,Economy
...,...,...,...,...,...,...,...,...,...
573,Air India,10:25,26h 50m,1 Stop,Kolkata,Goa,20139,2021-11-8,Economy
574,Air India,07:00,6h 15m,1 Stop,Kolkata,Goa,20559,2021-11-8,Economy
575,Air India,10:10,10h 20m,1 Stop,Kolkata,Goa,20927,2021-11-8,Economy
576,SpiceJet,09:35,27h 15m,1 Stop,Kolkata,Goa,22686,2021-11-8,Economy
577,SpiceJet,09:35,7h 30m,1 Stop,Kolkata,Goa,23706,2021-11-8,Economy

In [15]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','10','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','10','11','2021','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Kolkata'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2021-11-10'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,5h 50m,1 Stop,Kolkata,New Delhi,6487,2021-11-10,Economy
1,Air Asia,05:25,6h 25m,1 Stop,Kolkata,New Delhi,6487,2021-11-10,Economy
2,Air Asia,19:35,7h 15m,1 Stop,Kolkata,New Delhi,6487,2021-11-10,Economy
3,Air Asia,19:55,7h 40m,2 Stop(s),Kolkata,New Delhi,6487,2021-11-10,Economy
4,Air Asia,19:35,8h 00m,1 Stop,Kolkata,New Delhi,6487,2021-11-10,Economy
...,...,...,...,...,...,...,...,...,...
572,Vistara,17:35,14h 30m,2 Stop(s),Kolkata,Ahmedabad,22817,2021-11-10,Economy
573,Vistara,10:25,9h 15m,2 Stop(s),Kolkata,Ahmedabad,23237,2021-11-10,Economy
574,Air India,07:45,12h 55m,3 Stop(s),Kolkata,Ahmedabad,23814,2021-11-10,Economy
575,Air India,07:45,10h 25m,2 Stop(s),Kolkata,Ahmedabad,27007,2021-11-10,Economy
576,Air India,07:45,12h 55m,2 Stop(s),Kolkata,Ahmedabad,30157,2021-11-10,Economy

In [16]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','12','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','12','11','2021','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Kolkata'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2021-11-12'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,5h 50m,1 Stop,Kolkata,New Delhi,6487,2021-11-12,Economy
1,Air Asia,05:25,6h 25m,1 Stop,Kolkata,New Delhi,6487,2021-11-12,Economy
2,Air Asia,19:35,7h 15m,1 Stop,Kolkata,New Delhi,6487,2021-11-12,Economy
3,Air Asia,19:55,7h 40m,2 Stop(s),Kolkata,New Delhi,6487,2021-11-12,Economy
4,Air Asia,19:35,8h 00m,1 Stop,Kolkata,New Delhi,6487,2021-11-12,Economy
...,...,...,...,...,...,...,...,...,...
371,Air India,15:30,15h 50m,2 Stop(s),Kolkata,Chennai,18459,2021-11-12,Economy
372,Air India,15:30,15h 50m,2 Stop(s),Kolkata,Chennai,18879,2021-11-12,Economy
373,IndiGo,16:35,6h 45m,1 Stop,Kolkata,Chennai,23615,2021-11-12,Economy
374,Air India,09:40,21h 40m,1 Stop,Kolkata,Chennai,27279,2021-11-12,Economy
375,Air India,09:40,25h 15m,1 Stop,Kolkata,Chennai,28119,2021-11-12,Economy

In [23]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BLR','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','MAA','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','BOM','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','HYD','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','AMD','14','11','2021','Economy')
time.sleep(4)
get_yatra('CCU','GOI','14','11','2021','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Kolkata'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2021-11-14'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,19:35,7h 15m,1 Stop,Kolkata,New Delhi,6487,2021-11-14,Economy
1,Air Asia,19:35,8h 00m,1 Stop,Kolkata,New Delhi,6487,2021-11-14,Economy
2,Air Asia,12:30,9h 05m,2 Stop(s),Kolkata,New Delhi,6487,2021-11-14,Economy
3,Go First,06:00,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-14,Economy
4,SpiceJet,21:55,2h 30m,Non Stop,Kolkata,New Delhi,6488,2021-11-14,Economy
...,...,...,...,...,...,...,...,...,...
670,Vistara,10:25,26h 20m,1 Stop,Kolkata,Goa,24917,2021-11-14,Economy
671,Air Asia,19:55,11h 05m,2 Stop(s),Kolkata,Goa,25073,2021-11-14,Economy
672,Vistara,17:35,14h 15m,1 Stop,Kolkata,Goa,25179,2021-11-14,Economy
673,SpiceJet,22:15,14h 35m,1 Stop,Kolkata,Goa,26092,2021-11-14,Economy
674,Vistara,17:35,19h 10m,1 Stop,Kolkata,Goa,28487,2021-11-14,Economy

In [24]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','30','10','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','30','10','2021','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Kolkata'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2021-10-30'
y1['fclass'] = 'Special'
y1

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [26]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','17','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','17','11','2021','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Kolkata'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2021-11-17'
y2['fclass'] = 'Special'
y2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,07:10,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-17,Special
1,Vistara Premium Economy,20:20,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-17,Special
2,Vistara Premium Economy,10:15,2h 20m,Non Stop,Kolkata,New Delhi,8260,2021-11-17,Special
3,Vistara Premium Economy,15:20,2h 25m,Non Stop,Kolkata,New Delhi,9492,2021-11-17,Special
4,Vistara Premium Economy,10:15,6h 45m,1 Stop,Kolkata,Bangalore,15057,2021-11-17,Special
...,...,...,...,...,...,...,...,...,...
65,Vistara Premium Economy,07:10,12h 55m,1 Stop,Kolkata,Mumbai,14420,2021-11-17,Special
66,Vistara Premium Economy,20:20,13h 25m,1 Stop,Kolkata,Mumbai,14420,2021-11-17,Special
67,Vistara Premium Economy,07:10,14h 05m,1 Stop,Kolkata,Mumbai,14420,2021-11-17,Special
68,Vistara Premium Economy,20:20,21h 20m,1 Stop,Kolkata,Mumbai,14420,2021-11-17,Special
69,Vistara Premium Economy,10:15,7h 25m,1 Stop,Kolkata,Mumbai,15148,2021-11-17,Special

In [27]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','3','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','3','11','2021','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Kolkata'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2021-11-3'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,15:20,7h 35m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
1,Vistara Premium Economy,10:15,12h 40m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
2,Vistara Premium Economy,20:20,13h 05m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
3,Vistara Premium Economy,07:10,15h 45m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
4,Vistara Premium Economy,15:20,18h 05m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
5,Vistara Premium Economy,10:15,23h 10m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
6,Vistara Premium Economy,07:10,26h 15m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
7,Vistara Premium Economy,20:20,26h 35m,1 Stop,Kolkata,Hyderabad,13439,2021-11-3,Special
8,Vistara Premium Economy,07:10,9h 50m,1 Stop,Kolkata,Hyderabad,17780,2021-11-3,Special
9,Vistara Premium Economy,07:10,12h 40m,1 Stop,Kolkata,Hyderabad,17780,2021-11-3,Special
10,Vistara Premium Economy,15:20,16h 30m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
11,Vistara Premium Economy,15:20,16h 30m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
12,Vistara Premium Economy,15:20,16h 30m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
13,Vistara Premium Economy,15:20,16h 30m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
14,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
15,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
16,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
17,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
18,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
19,Vistara Premium Economy,10:15,21h 35m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
20,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
21,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
22,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
23,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
24,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-3,Special
25,Vistara Premium Economy,10:15,6h 45m,1 Stop,Kolkata,Hyderabad,18508,2021-11-3,Special
26,Vistara Premium Economy,10:15,9h 35m,1 Stop,Kolkata,Hyderabad,18508,2021-11-3,Special
27,Vistara Premium Economy,10:15,10h 40m,2 Stop(s),Kolkata,Hyderabad,21167,2021-11-3,Special
28,Vistara Premium Economy,10:15,9h 25m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
29,Vistara Premium Economy,20:20,11h 45m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
30,Vistara Premium Economy,07:10,12h 30m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
31,Vistara Premium Economy,20:20,14h 00m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
32,Vistara Premium Economy,15:20,16h 45m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
33,Vistara Premium Economy,15:20,19h 00m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
34,Vistara Premium Economy,10:15,21h 50m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
35,Vistara Premium Economy,20:20,23h 20m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
36,Vistara Premium Economy,10:15,24h 05m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
37,Vistara Premium Economy,07:10,24h 55m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
38,Vistara Premium Economy,07:10,27h 10m,1 Stop,Kolkata,Ahmedabad,12535,2021-11-3,Special
39,Vistara Premium Economy,20:20,17h 30m,1 Stop,Kolkata,Goa,20636,2021-11-3,Special
40,Vistara Premium Economy,15:20,22h 30m,1 Stop,Kolkata,Goa,21364,2021-11-3,Special
41,Vistara Premium Economy,10:15,27h 35m,1 Stop,Kolkata,Goa,21364,2021-11-3,Special
42,Vistara Premium Economy,20:20,16h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
43,Vistara Premium Economy,20:20,16h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
44,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
45,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
46,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
47,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
48,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
49,Vistara Premium Economy,15:20,21h 25m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
50,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
51,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
52,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
53,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
54,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
55,Vistara Premium Economy,10:15,26h 30m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
56,Vistara Premium Economy,07:10,29h 35m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
57,Vistara Premium Economy,07:10,29h 35m,2 Stop(s),Kolkata,Goa,23127,2021-11-3,Special
58,Vistara Premium Economy,07:10,6h 40m,1 Stop,Kolkata,Goa,31052,2021-11-3,Special

In [39]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','5','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','5','11','2021','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Kolkata'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2021-11-5'
y4['fclass'] = 'Special'
y4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,07:10,15h 45m,1 Stop,Kolkata,Hyderabad,13439,2021-11-5,Special
1,Vistara Premium Economy,15:20,7h 35m,1 Stop,Kolkata,Hyderabad,16044,2021-11-5,Special
2,Vistara Premium Economy,10:15,12h 40m,1 Stop,Kolkata,Hyderabad,16044,2021-11-5,Special
3,Vistara Premium Economy,15:20,28h 30m,1 Stop,Kolkata,Hyderabad,16044,2021-11-5,Special
4,Vistara Premium Economy,20:20,23h 30m,1 Stop,Kolkata,Hyderabad,17724,2021-11-5,Special
5,Vistara Premium Economy,20:20,26h 35m,1 Stop,Kolkata,Hyderabad,17724,2021-11-5,Special
6,Vistara Premium Economy,07:10,9h 50m,1 Stop,Kolkata,Hyderabad,17780,2021-11-5,Special
7,Vistara Premium Economy,07:10,26h 15m,1 Stop,Kolkata,Hyderabad,17780,2021-11-5,Special
8,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-5,Special
9,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-5,Special
10,Vistara Premium Economy,07:10,24h 40m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-5,Special
11,Vistara Premium Economy,07:10,37h 45m,2 Stop(s),Kolkata,Hyderabad,17919,2021-11-5,Special
12,Vistara Premium Economy,07:10,29h 05m,2 Stop(s),Kolkata,Hyderabad,18199,2021-11-5,Special
13,Vistara Premium Economy,07:10,29h 05m,2 Stop(s),Kolkata,Hyderabad,18199,2021-11-5,Special
14,Vistara Premium Economy,07:10,29h 05m,2 Stop(s),Kolkata,Hyderabad,18199,2021-11-5,Special
15,Vistara Premium Economy,10:15,6h 45m,1 Stop,Kolkata,Hyderabad,19740,2021-11-5,Special
16,Vistara Premium Economy,15:20,18h 05m,1 Stop,Kolkata,Hyderabad,19740,2021-11-5,Special
17,Vistara Premium Economy,10:15,23h 10m,1 Stop,Kolkata,Hyderabad,19740,2021-11-5,Special
18,Vistara Premium Economy,15:20,25h 40m,1 Stop,Kolkata,Hyderabad,19740,2021-11-5,Special
19,Vistara Premium Economy,20:20,13h 05m,1 Stop,Kolkata,Hyderabad,21420,2021-11-5,Special
20,Vistara Premium Economy,20:20,20h 40m,1 Stop,Kolkata,Hyderabad,21420,2021-11-5,Special

In [43]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','7','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','7','11','2021','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Kolkata'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2021-11-7'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,10:15,2h 20m,Non Stop,Kolkata,New Delhi,11172,2021-11-7,Special
1,Vistara Premium Economy,07:10,2h 25m,Non Stop,Kolkata,New Delhi,11172,2021-11-7,Special
2,Vistara Premium Economy,20:20,2h 25m,Non Stop,Kolkata,New Delhi,13468,2021-11-7,Special
3,Vistara Premium Economy,23:20,8h 45m,1 Stop,Kolkata,New Delhi,15652,2021-11-7,Special
4,Vistara Premium Economy,23:20,9h 15m,1 Stop,Kolkata,New Delhi,15652,2021-11-7,Special
...,...,...,...,...,...,...,...,...,...
126,Vistara Premium Economy,10:15,9h 25m,1 Stop,Kolkata,Ahmedabad,28196,2021-11-7,Special
127,Vistara Premium Economy,07:10,12h 30m,1 Stop,Kolkata,Ahmedabad,28196,2021-11-7,Special
128,Vistara Premium Economy,23:20,13h 25m,1 Stop,Kolkata,Goa,23660,2021-11-7,Special
129,Vistara Premium Economy,10:15,27h 35m,1 Stop,Kolkata,Goa,27636,2021-11-7,Special
130,Vistara Premium Economy,20:20,17h 30m,1 Stop,Kolkata,Goa,29932,2021-11-7,Special

In [44]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','9','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','9','11','2021','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Kolkata'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2021-11-9'
y6['fclass'] = 'Special'
y6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,15:20,7h 20m,1 Stop,Kolkata,Bangalore,15057,2021-11-9,Special
1,Vistara Premium Economy,15:20,8h 00m,1 Stop,Kolkata,Bangalore,15057,2021-11-9,Special
2,Vistara Premium Economy,10:15,10h 10m,1 Stop,Kolkata,Bangalore,15057,2021-11-9,Special
3,Vistara Premium Economy,10:15,12h 25m,1 Stop,Kolkata,Bangalore,15057,2021-11-9,Special
4,Vistara Premium Economy,20:20,12h 40m,1 Stop,Kolkata,Bangalore,15057,2021-11-9,Special
...,...,...,...,...,...,...,...,...,...
109,Vistara Premium Economy,07:10,29h 35m,2 Stop(s),Kolkata,Goa,27999,2021-11-9,Special
110,Vistara Premium Economy,07:10,6h 40m,1 Stop,Kolkata,Goa,31052,2021-11-9,Special
111,Vistara Premium Economy,20:20,17h 30m,1 Stop,Kolkata,Goa,31052,2021-11-9,Special
112,Vistara Premium Economy,15:20,22h 30m,1 Stop,Kolkata,Goa,31780,2021-11-9,Special
113,Vistara Premium Economy,10:15,27h 35m,1 Stop,Kolkata,Goa,31780,2021-11-9,Special

In [45]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','11','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','11','11','2021','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Kolkata'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2021-11-11'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,07:10,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-11,Special
1,Vistara Premium Economy,20:20,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-11,Special
2,Vistara Premium Economy,15:20,2h 25m,Non Stop,Kolkata,New Delhi,8260,2021-11-11,Special
3,Vistara Premium Economy,10:15,2h 20m,Non Stop,Kolkata,New Delhi,11172,2021-11-11,Special
4,Vistara Premium Economy,15:20,7h 20m,1 Stop,Kolkata,Bangalore,15057,2021-11-11,Special
...,...,...,...,...,...,...,...,...,...
104,Vistara Premium Economy,10:15,9h 25m,1 Stop,Kolkata,Ahmedabad,22596,2021-11-11,Special
105,Vistara Premium Economy,07:10,6h 40m,1 Stop,Kolkata,Goa,31052,2021-11-11,Special
106,Vistara Premium Economy,20:20,17h 30m,1 Stop,Kolkata,Goa,31052,2021-11-11,Special
107,Vistara Premium Economy,15:20,22h 30m,1 Stop,Kolkata,Goa,31780,2021-11-11,Special
108,Vistara Premium Economy,10:15,27h 35m,1 Stop,Kolkata,Goa,34692,2021-11-11,Special

In [48]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BLR','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','MAA','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','BOM','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','HYD','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','AMD','13','11','2021','Special')
time.sleep(4)
get_yatra('CCU','GOI','13','11','2021','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Kolkata'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2021-11-13'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,07:10,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-13,Special
1,Vistara Premium Economy,20:20,2h 25m,Non Stop,Kolkata,New Delhi,7532,2021-11-13,Special
2,Vistara Premium Economy,10:15,2h 20m,Non Stop,Kolkata,New Delhi,8260,2021-11-13,Special
3,Vistara Premium Economy,15:20,2h 25m,Non Stop,Kolkata,New Delhi,11172,2021-11-13,Special
4,Vistara Premium Economy,20:20,12h 40m,1 Stop,Kolkata,Bangalore,15057,2021-11-13,Special
...,...,...,...,...,...,...,...,...,...
100,Vistara Premium Economy,15:20,18h 25m,1 Stop,Kolkata,Goa,21980,2021-11-13,Special
101,Vistara Premium Economy,07:10,6h 40m,1 Stop,Kolkata,Goa,31052,2021-11-13,Special
102,Vistara Premium Economy,20:20,17h 30m,1 Stop,Kolkata,Goa,31052,2021-11-13,Special
103,Vistara Premium Economy,10:15,27h 35m,1 Stop,Kolkata,Goa,31780,2021-11-13,Special
104,Vistara Premium Economy,15:20,22h 30m,1 Stop,Kolkata,Goa,34692,2021-11-13,Special

In [50]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','15','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','15','11','2021','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Kolkata'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2021-11-15'
z1['fclass'] = 'Business'
z1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-15,Business
1,Air India Business,20:30,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-15,Business
2,Air India Business,10:25,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-15,Business
3,Air India Business,15:30,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-15,Business
4,Vistara Business,10:15,2h 20m,Non Stop,Kolkata,New Delhi,21790,2021-11-15,Business
...,...,...,...,...,...,...,...,...,...
166,Vistara Business,15:20,16h 30m,2 Stop(s),Kolkata,Goa,63521,2021-11-15,Business
167,Vistara Business,15:20,22h 30m,1 Stop,Kolkata,Goa,68975,2021-11-15,Business
168,Vistara Business,15:20,16h 30m,2 Stop(s),Kolkata,Goa,75841,2021-11-15,Business
169,Vistara Business,20:20,16h 25m,2 Stop(s),Kolkata,Goa,85361,2021-11-15,Business
170,Vistara Business,20:20,16h 25m,2 Stop(s),Kolkata,Goa,86481,2021-11-15,Business

In [51]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','2','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','2','11','2021','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Kolkata'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2021-11-1'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,20:30,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-1,Business
1,Vistara Business,20:20,2h 25m,Non Stop,Kolkata,New Delhi,21790,2021-11-1,Business
2,Air India Business,19:00,13h 55m,1 Stop,Kolkata,New Delhi,39966,2021-11-1,Business
3,Air India Business,19:00,18h 50m,1 Stop,Kolkata,New Delhi,39966,2021-11-1,Business
4,Air India Business,19:00,23h 30m,1 Stop,Kolkata,New Delhi,39966,2021-11-1,Business
...,...,...,...,...,...,...,...,...,...
99,Air India Business,20:45,21h 45m,2 Stop(s),Kolkata,Ahmedabad,67743,2021-11-1,Business
100,Air India Business,20:45,21h 45m,2 Stop(s),Kolkata,Ahmedabad,67743,2021-11-1,Business
101,Air India Business,20:45,21h 45m,2 Stop(s),Kolkata,Ahmedabad,67743,2021-11-1,Business
102,Vistara Business,17:35,14h 30m,2 Stop(s),Kolkata,Ahmedabad,68146,2021-11-1,Business
103,Vistara Business,17:35,14h 30m,2 Stop(s),Kolkata,Ahmedabad,68146,2021-11-1,Business

In [52]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','4','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','4','11','2021','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Kolkata'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2021-11-4'
z3['fclass'] = 'Business'
z3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-4,Business
1,Air India Business,20:30,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-4,Business
2,Air India Business,10:25,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-4,Business
3,Vistara Business,10:15,2h 20m,Non Stop,Kolkata,New Delhi,21790,2021-11-4,Business
4,Vistara Business,07:10,2h 25m,Non Stop,Kolkata,New Delhi,21790,2021-11-4,Business
...,...,...,...,...,...,...,...,...,...
186,Vistara Business,10:25,26h 20m,1 Stop,Kolkata,Goa,51615,2021-11-4,Business
187,Vistara Business,17:35,19h 10m,1 Stop,Kolkata,Goa,58335,2021-11-4,Business
188,Vistara Business,15:20,22h 30m,1 Stop,Kolkata,Goa,63375,2021-11-4,Business
189,Vistara Business,10:15,27h 35m,1 Stop,Kolkata,Goa,63375,2021-11-4,Business
190,Vistara Business,07:10,7h 45m,2 Stop(s),Kolkata,Goa,69457,2021-11-4,Business

In [53]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','7','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','7','11','2021','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Kolkata'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2021-11-7'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-7,Business
1,Air India Business,20:30,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-7,Business
2,Air India Business,10:25,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-7,Business
3,Air India Business,15:30,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-7,Business
4,Air India Business,09:10,7h 05m,1 Stop,Kolkata,New Delhi,31826,2021-11-7,Business
5,Air India Business,09:10,14h 35m,1 Stop,Kolkata,New Delhi,31826,2021-11-7,Business
6,Air India Business,16:45,5h 20m,1 Stop,Kolkata,New Delhi,35500,2021-11-7,Business
7,Air India Business,09:50,12h 15m,1 Stop,Kolkata,New Delhi,35500,2021-11-7,Business
8,Air India Business,16:45,25h 55m,1 Stop,Kolkata,New Delhi,35500,2021-11-7,Business
9,Air India Business,09:10,9h 20m,2 Stop(s),Kolkata,New Delhi,39966,2021-11-7,Business
10,Air India Business,09:10,11h 50m,3 Stop(s),Kolkata,New Delhi,39966,2021-11-7,Business
11,Air India Business,19:00,13h 55m,1 Stop,Kolkata,New Delhi,39966,2021-11-7,Business
12,Air India Business,09:10,23h 45m,2 Stop(s),Kolkata,New Delhi,39966,2021-11-7,Business
13,Air India Business,09:10,28h 40m,2 Stop(s),Kolkata,New Delhi,39966,2021-11-7,Business
14,Air India Business,09:50,8h 50m,1 Stop,Kolkata,New Delhi,41100,2021-11-7,Business
15,Air India Business,10:25,8h 15m,2 Stop(s),Kolkata,New Delhi,45012,2021-11-7,Business
16,Air India Business,13:00,7h 30m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
17,Air India Business,13:00,8h 15m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
18,Air India Business,13:00,10h 30m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
19,Air India Business,16:55,16h 00m,1 Stop,Kolkata,New Delhi,45168,2021-11-7,Business
20,Air India Business,16:55,17h 20m,1 Stop,Kolkata,New Delhi,45168,2021-11-7,Business
21,Air India Business,16:55,18h 15m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
22,Air India Business,13:00,19h 55m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
23,Air India Business,13:00,21h 15m,2 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
24,Air India Business,13:00,22h 10m,3 Stop(s),Kolkata,New Delhi,45168,2021-11-7,Business
25,Air India Business,20:45,2h 35m,Non Stop,Kolkata,Bangalore,25470,2021-11-7,Business
26,Air India Business,09:10,7h 55m,1 Stop,Kolkata,Bangalore,31762,2021-11-7,Business
27,Air India Business,19:00,15h 25m,1 Stop,Kolkata,Bangalore,31902,2021-11-7,Business
28,Air India Business,16:55,25h 35m,1 Stop,Kolkata,Bangalore,43168,2021-11-7,Business
29,Air India Business,13:00,29h 30m,2 Stop(s),Kolkata,Bangalore,43168,2021-11-7,Business
30,Air India Business,15:30,8h 25m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
31,Air India Business,20:30,12h 25m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
32,Air India Business,10:25,13h 30m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
33,Air India Business,20:30,16h 00m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
34,Air India Business,07:00,16h 55m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
35,Air India Business,15:30,17h 25m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
36,Air India Business,20:30,19h 45m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
37,Air India Business,15:30,21h 00m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
38,Air India Business,10:25,22h 30m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
39,Air India Business,20:30,23h 35m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
40,Air India Business,15:30,24h 45m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
41,Air India Business,07:00,25h 55m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
42,Air India Business,10:25,26h 05m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
43,Air India Business,20:30,27h 25m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
44,Air India Business,15:30,28h 35m,1 Stop,Kolkata,Bangalore,45144,2021-11-7,Business
45,Air India Business,07:00,9h 15m,1 Stop,Kolkata,Bangalore,51864,2021-11-7,Business
46,Air India Business,10:25,9h 40m,1 Stop,Kolkata,Bangalore,51864,2021-11-7,Business
47,Air India Business,07:00,13h 05m,1 Stop,Kolkata,Bangalore,51864,2021-11-7,Business
48,Air India Business,16:55,18h 15m,1 Stop,Kolkata,Bangalore,63256,2021-11-7,Business
49,Air India Business,13:00,22h 10m,2 Stop(s),Kolkata,Bangalore,63256,2021-11-7,Business

In [54]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','10','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','10','11','2021','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Kolkata'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2021-11-10'
z5['fclass'] = 'Business'
z5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,19:00,2h 15m,Non Stop,Kolkata,Hyderabad,20356,2021-11-10,Business
1,Air India Business,10:25,13h 10m,1 Stop,Kolkata,Hyderabad,40144,2021-11-10,Business
2,Air India Business,20:30,14h 00m,1 Stop,Kolkata,Hyderabad,40144,2021-11-10,Business
3,Air India Business,20:30,15h 25m,1 Stop,Kolkata,Hyderabad,40144,2021-11-10,Business
4,Air India Business,07:00,16h 35m,1 Stop,Kolkata,Hyderabad,40144,2021-11-10,Business
...,...,...,...,...,...,...,...,...,...
56,Vistara Business,20:20,16h 25m,2 Stop(s),Kolkata,Goa,73074,2021-11-10,Business
57,Vistara Business,17:35,19h 10m,1 Stop,Kolkata,Goa,74463,2021-11-10,Business
58,Vistara Business,20:20,16h 25m,2 Stop(s),Kolkata,Goa,76961,2021-11-10,Business
59,Vistara Business,15:20,16h 30m,2 Stop(s),Kolkata,Goa,78674,2021-11-10,Business
60,Vistara Business,15:20,16h 30m,2 Stop(s),Kolkata,Goa,89281,2021-11-10,Business

In [55]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('CCU','DEL','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BLR','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','MAA','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','BOM','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','HYD','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','AMD','13','11','2021','Business')
time.sleep(4)
get_yatra('CCU','GOI','13','11','2021','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Kolkata'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2021-11-13'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-13,Business
1,Air India Business,20:30,2h 15m,Non Stop,Kolkata,New Delhi,20534,2021-11-13,Business
2,Air India Business,10:25,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-13,Business
3,Air India Business,15:30,2h 30m,Non Stop,Kolkata,New Delhi,20534,2021-11-13,Business
4,Vistara Business,07:10,2h 25m,Non Stop,Kolkata,New Delhi,21790,2021-11-13,Business
...,...,...,...,...,...,...,...,...,...
281,Air India Business,07:00,11h 10m,1 Stop,Kolkata,Ahmedabad,58244,2021-11-13,Business
282,Vistara Business,10:25,21h 40m,2 Stop(s),Kolkata,Ahmedabad,65145,2021-11-13,Business
283,Vistara Business,17:35,14h 30m,2 Stop(s),Kolkata,Ahmedabad,69882,2021-11-13,Business
284,Vistara Business,17:35,14h 30m,2 Stop(s),Kolkata,Ahmedabad,69882,2021-11-13,Business
285,Vistara Business,10:25,9h 15m,2 Stop(s),Kolkata,Ahmedabad,74945,2021-11-13,Business

In [56]:
ccu = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
ccu.shape
ccu.to_excel('ccu_full.xlsx')