In [2]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [55]:
driver = webdriver.Chrome(r'C:\Users\LENOVO\Documents\Post Graduation\chromedriver.exe')

In [4]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [5]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','15','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','15','11','2021','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Chennai'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2021-11-15'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,17:40,7h 00m,1 Stop,Chennai,New Delhi,5072,2021-11-15,Economy
1,IndiGo,10:55,7h 05m,1 Stop,Chennai,New Delhi,6278,2021-11-15,Economy
2,Air Asia,22:35,5h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-15,Economy
3,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-15,Economy
4,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-15,Economy
...,...,...,...,...,...,...,...,...,...
235,IndiGo,05:25,6h 05m,1 Stop,Chennai,Hyderabad,4202,2021-11-15,Economy
236,IndiGo,16:30,6h 40m,1 Stop,Chennai,Hyderabad,4202,2021-11-15,Economy
237,IndiGo,13:05,7h 00m,1 Stop,Chennai,Hyderabad,4202,2021-11-15,Economy
238,IndiGo,14:30,7h 00m,1 Stop,Chennai,Hyderabad,4202,2021-11-15,Economy
239,IndiGo,17:35,7h 25m,1 Stop,Chennai,Hyderabad,4202,2021-11-15,Economy

In [12]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','17','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','17','11','2021','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Chennai'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2021-11-17'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,17:40,7h 00m,1 Stop,Chennai,New Delhi,5072,2021-11-17,Economy
1,IndiGo,10:55,7h 05m,1 Stop,Chennai,New Delhi,6880,2021-11-17,Economy
2,Air Asia,22:35,5h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-17,Economy
3,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-17,Economy
4,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-17,Economy
...,...,...,...,...,...,...,...,...,...
70,Vistara,09:45,9h 30m,1 Stop,Chennai,Bangalore,8605,2021-11-17,Economy
71,Vistara,12:30,10h 20m,1 Stop,Chennai,Bangalore,8605,2021-11-17,Economy
72,Vistara,20:30,11h 20m,1 Stop,Chennai,Bangalore,8605,2021-11-17,Economy
73,Vistara,07:00,12h 15m,1 Stop,Chennai,Bangalore,8605,2021-11-17,Economy
74,Vistara,09:45,13h 05m,1 Stop,Chennai,Bangalore,8605,2021-11-17,Economy

In [13]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','2','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','2','11','2021','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Chennai'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2021-11-2'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-2,Economy
1,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-2,Economy
2,Air Asia,15:50,9h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-2,Economy
3,Air Asia,23:30,9h 25m,1 Stop,Chennai,New Delhi,7350,2021-11-2,Economy
4,Air Asia,22:35,10h 20m,1 Stop,Chennai,New Delhi,7350,2021-11-2,Economy
...,...,...,...,...,...,...,...,...,...
70,Vistara,07:00,25h 50m,1 Stop,Chennai,Bangalore,8605,2021-11-2,Economy
71,Vistara,12:30,5h 15m,1 Stop,Chennai,Bangalore,8773,2021-11-2,Economy
72,Vistara,07:00,10h 45m,1 Stop,Chennai,Bangalore,8773,2021-11-2,Economy
73,Vistara,12:30,8h 25m,1 Stop,Chennai,Bangalore,9193,2021-11-2,Economy
74,Vistara,12:30,10h 20m,1 Stop,Chennai,Bangalore,9193,2021-11-2,Economy

In [17]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','4','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','4','11','2021','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Chennai'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2021-11-4'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-4,Economy
1,Air Asia,15:50,9h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-4,Economy
2,Air Asia,21:10,12h 55m,2 Stop(s),Chennai,New Delhi,7350,2021-11-4,Economy
3,IndiGo,14:15,2h 45m,Non Stop,Chennai,New Delhi,7352,2021-11-4,Economy
4,IndiGo,18:15,2h 45m,Non Stop,Chennai,New Delhi,7352,2021-11-4,Economy
...,...,...,...,...,...,...,...,...,...
136,IndiGo,12:40,5h 15m,1 Stop,Chennai,Mumbai,7930,2021-11-4,Economy
137,IndiGo,09:55,6h 40m,1 Stop,Chennai,Mumbai,7930,2021-11-4,Economy
138,IndiGo,15:45,7h 40m,1 Stop,Chennai,Mumbai,7930,2021-11-4,Economy
139,IndiGo,10:10,7h 45m,1 Stop,Chennai,Mumbai,7930,2021-11-4,Economy
140,IndiGo,21:10,8h 40m,1 Stop,Chennai,Mumbai,7930,2021-11-4,Economy

In [22]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','6','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','6','11','2021','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Chennai'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2021-11-6'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,15:50,4h 45m,1 Stop,Chennai,Mumbai,5879,2021-11-6,Economy
1,Air Asia,23:30,7h 15m,1 Stop,Chennai,Mumbai,5879,2021-11-6,Economy
2,Air Asia,23:30,7h 45m,1 Stop,Chennai,Mumbai,5879,2021-11-6,Economy
3,Air Asia,22:35,8h 10m,1 Stop,Chennai,Mumbai,5879,2021-11-6,Economy
4,Air Asia,22:35,8h 40m,1 Stop,Chennai,Mumbai,5879,2021-11-6,Economy
...,...,...,...,...,...,...,...,...,...
95,IndiGo,20:50,4h 10m,1 Stop,Chennai,Hyderabad,7142,2021-11-6,Economy
96,IndiGo,13:05,4h 45m,1 Stop,Chennai,Hyderabad,7142,2021-11-6,Economy
97,IndiGo,16:30,5h 00m,1 Stop,Chennai,Hyderabad,7142,2021-11-6,Economy
98,IndiGo,14:30,5h 35m,1 Stop,Chennai,Hyderabad,7142,2021-11-6,Economy
99,IndiGo,17:35,5h 35m,1 Stop,Chennai,Hyderabad,7142,2021-11-6,Economy

In [21]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','8','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','8','11','2021','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Chennai'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2021-11-8'
x6['fclass'] = 'Economy'
x6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,22:35,5h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-8,Economy
1,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-8,Economy
2,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-8,Economy
3,Air Asia,15:50,9h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-8,Economy
4,Air Asia,23:30,9h 25m,1 Stop,Chennai,New Delhi,7350,2021-11-8,Economy
...,...,...,...,...,...,...,...,...,...
547,Vistara,09:45,11h 35m,2 Stop(s),Chennai,Goa,20478,2021-11-8,Economy
548,Go First,06:40,13h 30m,1 Stop,Chennai,Goa,21080,2021-11-8,Economy
549,Air India,14:55,5h 35m,1 Stop,Chennai,Goa,21161,2021-11-8,Economy
550,Air India,09:55,27h 20m,1 Stop,Chennai,Goa,23418,2021-11-8,Economy
551,Air India,06:10,7h 05m,1 Stop,Chennai,Goa,28563,2021-11-8,Economy

In [25]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','10','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','10','11','2021','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Chennai'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2021-11-10'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,22:35,5h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-10,Economy
1,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-10,Economy
2,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-10,Economy
3,Air Asia,15:50,9h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-10,Economy
4,Air Asia,23:30,9h 25m,1 Stop,Chennai,New Delhi,7350,2021-11-10,Economy
...,...,...,...,...,...,...,...,...,...
70,Vistara,07:00,13h 55m,1 Stop,Chennai,Bangalore,10159,2021-11-10,Economy
71,Vistara,07:00,15h 50m,1 Stop,Chennai,Bangalore,10159,2021-11-10,Economy
72,Vistara,09:45,22h 05m,1 Stop,Chennai,Bangalore,10159,2021-11-10,Economy
73,Vistara,09:45,23h 05m,1 Stop,Chennai,Bangalore,10159,2021-11-10,Economy
74,Vistara,07:00,24h 50m,1 Stop,Chennai,Bangalore,10159,2021-11-10,Economy

In [24]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','12','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','12','11','2021','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Chennai'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2021-11-12'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,23:30,7h 05m,1 Stop,Chennai,Hyderabad,4200,2021-11-12,Economy
1,Air Asia,22:35,8h 00m,1 Stop,Chennai,Hyderabad,4200,2021-11-12,Economy
2,Air Asia,23:30,9h 15m,1 Stop,Chennai,Hyderabad,4200,2021-11-12,Economy
3,Air Asia,22:35,10h 10m,1 Stop,Chennai,Hyderabad,4200,2021-11-12,Economy
4,Go First,17:40,1h 15m,Non Stop,Chennai,Hyderabad,4201,2021-11-12,Economy
...,...,...,...,...,...,...,...,...,...
70,IndiGo,09:40,5h 35m,1 Stop,Chennai,Goa,8696,2021-11-12,Economy
71,Air Asia,09:10,8h 15m,1 Stop,Chennai,Goa,8697,2021-11-12,Economy
72,Air Asia,09:10,10h 25m,1 Stop,Chennai,Goa,8697,2021-11-12,Economy
73,Go First,05:00,11h 30m,1 Stop,Chennai,Goa,9945,2021-11-12,Economy
74,Go First,13:45,9h 40m,1 Stop,Chennai,Goa,10207,2021-11-12,Economy

In [26]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BOM','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','BLR','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','CCU','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','HYD','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','AMD','14','11','2021','Economy')
time.sleep(4)
get_yatra('MAA','GOI','14','11','2021','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Chennai'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2021-11-14'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,22:35,5h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-14,Economy
1,Air Asia,09:05,7h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-14,Economy
2,Air Asia,17:00,8h 00m,1 Stop,Chennai,New Delhi,7350,2021-11-14,Economy
3,Air Asia,15:50,9h 10m,1 Stop,Chennai,New Delhi,7350,2021-11-14,Economy
4,Air Asia,23:30,9h 25m,1 Stop,Chennai,New Delhi,7350,2021-11-14,Economy
...,...,...,...,...,...,...,...,...,...
95,IndiGo,20:50,9h 20m,1 Stop,Chennai,Kolkata,5042,2021-11-14,Economy
96,IndiGo,16:30,9h 25m,1 Stop,Chennai,Kolkata,5042,2021-11-14,Economy
97,IndiGo,06:50,10h 05m,1 Stop,Chennai,Kolkata,5042,2021-11-14,Economy
98,Air India,11:20,2h 35m,Non Stop,Chennai,Kolkata,5043,2021-11-14,Economy
99,Air Asia,09:10,3h 45m,1 Stop,Chennai,Kolkata,5043,2021-11-14,Economy

In [29]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','15','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','15','11','2021','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Chennai'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2021-11-15'
y1['fclass'] = 'Special'
y1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,17:10,2h 45m,Non Stop,Chennai,New Delhi,9558,2021-11-15,Special
1,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,9558,2021-11-15,Special
2,Vistara Premium Economy,07:05,2h 50m,Non Stop,Chennai,New Delhi,9894,2021-11-15,Special
3,Vistara Premium Economy,10:45,2h 45m,Non Stop,Chennai,New Delhi,11126,2021-11-15,Special
4,Vistara Premium Economy,07:05,6h 55m,1 Stop,Chennai,Mumbai,13637,2021-11-15,Special
...,...,...,...,...,...,...,...,...,...
104,Vistara Premium Economy,07:05,29h 40m,2 Stop(s),Chennai,Goa,21365,2021-11-15,Special
105,Vistara Premium Economy,21:05,16h 45m,1 Stop,Chennai,Goa,22662,2021-11-15,Special
106,Vistara Premium Economy,17:10,20h 40m,1 Stop,Chennai,Goa,22662,2021-11-15,Special
107,Vistara Premium Economy,07:05,6h 45m,1 Stop,Chennai,Goa,22998,2021-11-15,Special
108,Vistara Premium Economy,10:45,27h 05m,1 Stop,Chennai,Goa,24230,2021-11-15,Special

In [30]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','1','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','1','11','2021','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Chennai'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2021-11-1'
y2['fclass'] = 'Special'
y2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,17:15,2h 45m,Non Stop,Chennai,New Delhi,9558,2021-11-1,Special
1,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,11126,2021-11-1,Special

In [38]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','3','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','3','11','2021','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Chennai'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2021-11-3'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,10:45,2h 45m,Non Stop,Chennai,New Delhi,8494,2021-11-3,Special
1,Vistara Premium Economy,17:15,2h 45m,Non Stop,Chennai,New Delhi,8494,2021-11-3,Special
2,Vistara Premium Economy,06:55,2h 50m,Non Stop,Chennai,New Delhi,8494,2021-11-3,Special
3,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,8494,2021-11-3,Special
4,Vistara Premium Economy,06:55,10h 45m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
5,Vistara Premium Economy,06:55,12h 10m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
6,Vistara Premium Economy,06:55,13h 10m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
7,Vistara Premium Economy,06:55,14h 20m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
8,Vistara Premium Economy,06:55,15h 05m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
9,Vistara Premium Economy,06:55,15h 55m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
10,Vistara Premium Economy,06:55,16h 55m,1 Stop,Chennai,Mumbai,14451,2021-11-3,Special
11,Vistara Premium Economy,17:15,5h 35m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
12,Vistara Premium Economy,17:15,6h 35m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
13,Vistara Premium Economy,10:45,6h 55m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
14,Vistara Premium Economy,10:45,8h 20m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
15,Vistara Premium Economy,10:45,9h 20m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
16,Vistara Premium Economy,10:45,10h 30m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
17,Vistara Premium Economy,21:05,10h 55m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
18,Vistara Premium Economy,10:45,11h 15m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
19,Vistara Premium Economy,10:45,12h 05m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
20,Vistara Premium Economy,21:05,12h 40m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
21,Vistara Premium Economy,10:45,13h 05m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
22,Vistara Premium Economy,21:05,14h 05m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
23,Vistara Premium Economy,21:05,14h 30m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
24,Vistara Premium Economy,17:15,14h 45m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
25,Vistara Premium Economy,21:05,15h 30m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
26,Vistara Premium Economy,17:15,16h 30m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
27,Vistara Premium Economy,21:05,16h 55m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
28,Vistara Premium Economy,21:05,17h 55m,1 Stop,Chennai,Mumbai,15046,2021-11-3,Special
29,Vistara Premium Economy,06:55,10h 05m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
30,Vistara Premium Economy,06:55,11h 55m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
31,Vistara Premium Economy,06:55,13h 30m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
32,Vistara Premium Economy,06:55,15h 45m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
33,Vistara Premium Economy,06:55,16h 25m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
34,Vistara Premium Economy,06:55,26h 05m,1 Stop,Chennai,Bangalore,15160,2021-11-3,Special
35,Vistara Premium Economy,17:15,6h 05m,1 Stop,Chennai,Bangalore,16726,2021-11-3,Special
36,Vistara Premium Economy,10:45,6h 15m,1 Stop,Chennai,Bangalore,16726,2021-11-3,Special
37,Vistara Premium Economy,10:45,8h 05m,1 Stop,Chennai,Bangalore,16726,2021-11-3,Special
38,Vistara Premium Economy,10:45,9h 40m,1 Stop,Chennai,Bangalore,16726,2021-11-3,Special
39,Vistara Premium Economy,06:55,27h 50m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
40,Vistara Premium Economy,06:55,27h 50m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
41,Vistara Premium Economy,06:55,34h 50m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
42,Vistara Premium Economy,06:55,34h 50m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
43,Vistara Premium Economy,06:55,36h 20m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
44,Vistara Premium Economy,06:55,36h 20m,2 Stop(s),Chennai,Bangalore,19153,2021-11-3,Special
45,Vistara Premium Economy,06:55,15h 55m,2 Stop(s),Chennai,Bangalore,19461,2021-11-3,Special
46,Vistara Premium Economy,06:55,15h 55m,2 Stop(s),Chennai,Bangalore,19461,2021-11-3,Special
47,Vistara Premium Economy,06:55,15h 55m,2 Stop(s),Chennai,Bangalore,19461,2021-11-3,Special
48,Vistara Premium Economy,06:55,25h 55m,2 Stop(s),Chennai,Bangalore,19461,2021-11-3,Special
49,Vistara Premium Economy,06:55,25h 55m,2 Stop(s),Chennai,Bangalore,19461,2021-11-3,Special
50,Vistara Premium Economy,06:55,27h 50m,2 Stop(s),Chennai,Bangalore,19967,2021-11-3,Special
51,Vistara Premium Economy,06:55,34h 50m,2 Stop(s),Chennai,Bangalore,19967,2021-11-3,Special
52,Vistara Premium Economy,06:55,36h 20m,2 Stop(s),Chennai,Bangalore,19967,2021-11-3,Special
53,Vistara Premium Economy,06:55,25h 55m,2 Stop(s),Chennai,Bangalore,20275,2021-11-3,Special
54,Vistara Premium Economy,06:55,14h 00m,2 Stop(s),Chennai,Bangalore,22597,2021-11-3,Special

In [39]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','5','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','5','11','2021','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Chennai'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2021-11-5'
y4['fclass'] = 'Special'
y4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,10:45,8h 05m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
1,Vistara Premium Economy,10:45,9h 40m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
2,Vistara Premium Economy,10:45,11h 55m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
3,Vistara Premium Economy,21:05,11h 55m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
4,Vistara Premium Economy,10:45,12h 35m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
5,Vistara Premium Economy,10:45,22h 15m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
6,Vistara Premium Economy,21:05,25h 35m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
7,Vistara Premium Economy,21:05,26h 15m,1 Stop,Chennai,Bangalore,16726,2021-11-5,Special
8,Vistara Premium Economy,06:55,11h 55m,1 Stop,Chennai,Bangalore,17230,2021-11-5,Special
9,Vistara Premium Economy,06:55,13h 30m,1 Stop,Chennai,Bangalore,17230,2021-11-5,Special
10,Vistara Premium Economy,06:55,15h 45m,1 Stop,Chennai,Bangalore,17230,2021-11-5,Special
11,Vistara Premium Economy,06:55,16h 25m,1 Stop,Chennai,Bangalore,17230,2021-11-5,Special
12,Vistara Premium Economy,06:55,26h 05m,1 Stop,Chennai,Bangalore,17230,2021-11-5,Special
13,Vistara Premium Economy,10:45,6h 15m,1 Stop,Chennai,Bangalore,17734,2021-11-5,Special
14,Vistara Premium Economy,21:05,13h 45m,1 Stop,Chennai,Bangalore,17734,2021-11-5,Special
15,Vistara Premium Economy,10:45,24h 05m,1 Stop,Chennai,Bangalore,17734,2021-11-5,Special
16,Vistara Premium Economy,06:55,10h 05m,1 Stop,Chennai,Bangalore,18238,2021-11-5,Special
17,Vistara Premium Economy,06:55,27h 55m,1 Stop,Chennai,Bangalore,18238,2021-11-5,Special
18,Vistara Premium Economy,21:05,19h 55m,1 Stop,Chennai,Bangalore,21598,2021-11-5,Special
19,Vistara Premium Economy,21:05,21h 45m,1 Stop,Chennai,Bangalore,21598,2021-11-5,Special
20,Vistara Premium Economy,21:05,23h 20m,1 Stop,Chennai,Bangalore,21598,2021-11-5,Special
21,Vistara Premium Economy,17:10,6h 10m,1 Stop,Chennai,Bangalore,21878,2021-11-5,Special
22,Vistara Premium Economy,17:10,15h 50m,1 Stop,Chennai,Bangalore,21878,2021-11-5,Special
23,Vistara Premium Economy,17:10,29h 30m,1 Stop,Chennai,Bangalore,21878,2021-11-5,Special
24,Vistara Premium Economy,17:10,17h 40m,1 Stop,Chennai,Bangalore,22886,2021-11-5,Special

In [44]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','7','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','7','11','2021','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Chennai'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2021-11-7'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:55,2h 50m,Non Stop,Chennai,New Delhi,13422,2021-11-7,Special
1,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,13422,2021-11-7,Special
2,Vistara Premium Economy,17:10,2h 45m,Non Stop,Chennai,New Delhi,13646,2021-11-7,Special
3,Vistara Premium Economy,10:45,2h 45m,Non Stop,Chennai,New Delhi,16782,2021-11-7,Special
4,Vistara Premium Economy,21:05,23h 00m,1 Stop,Chennai,Mumbai,20310,2021-11-7,Special
...,...,...,...,...,...,...,...,...,...
79,Vistara Premium Economy,17:10,5h 45m,1 Stop,Chennai,Hyderabad,26190,2021-11-7,Special
80,Vistara Premium Economy,10:45,6h 15m,1 Stop,Chennai,Hyderabad,27254,2021-11-7,Special
81,Vistara Premium Economy,10:45,9h 05m,1 Stop,Chennai,Hyderabad,27254,2021-11-7,Special
82,Vistara Premium Economy,10:45,22h 40m,1 Stop,Chennai,Hyderabad,27254,2021-11-7,Special
83,Vistara Premium Economy,10:45,12h 10m,1 Stop,Chennai,Hyderabad,29326,2021-11-7,Special

In [45]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','9','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','9','11','2021','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Chennai'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2021-11-9'
y6['fclass'] = 'Special'
y6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,07:05,11h 45m,1 Stop,Chennai,Bangalore,16070,2021-11-9,Special
1,Vistara Premium Economy,07:05,13h 20m,1 Stop,Chennai,Bangalore,16070,2021-11-9,Special
2,Vistara Premium Economy,07:05,15h 35m,1 Stop,Chennai,Bangalore,16070,2021-11-9,Special
3,Vistara Premium Economy,07:05,16h 15m,1 Stop,Chennai,Bangalore,16070,2021-11-9,Special
4,Vistara Premium Economy,07:05,25h 55m,1 Stop,Chennai,Bangalore,16070,2021-11-9,Special
...,...,...,...,...,...,...,...,...,...
76,Vistara Premium Economy,07:05,29h 40m,2 Stop(s),Chennai,Goa,29011,2021-11-9,Special
77,Vistara Premium Economy,07:05,6h 45m,1 Stop,Chennai,Goa,32014,2021-11-9,Special
78,Vistara Premium Economy,21:05,16h 45m,1 Stop,Chennai,Goa,32014,2021-11-9,Special
79,Vistara Premium Economy,10:45,27h 05m,1 Stop,Chennai,Goa,32014,2021-11-9,Special
80,Vistara Premium Economy,17:10,20h 40m,1 Stop,Chennai,Goa,36942,2021-11-9,Special

In [48]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','11','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','11','11','2021','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Chennai'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2021-11-11'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,10:45,2h 45m,Non Stop,Chennai,New Delhi,8494,2021-11-11,Special
1,Vistara Premium Economy,17:10,2h 45m,Non Stop,Chennai,New Delhi,8494,2021-11-11,Special
2,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,8494,2021-11-11,Special
3,Vistara Premium Economy,17:10,5h 40m,1 Stop,Chennai,Mumbai,15046,2021-11-11,Special
4,Vistara Premium Economy,17:10,6h 40m,1 Stop,Chennai,Mumbai,15046,2021-11-11,Special
...,...,...,...,...,...,...,...,...,...
66,Vistara Premium Economy,21:05,22h 35m,1 Stop,Chennai,Ahmedabad,19918,2021-11-11,Special
67,Vistara Premium Economy,17:10,26h 30m,1 Stop,Chennai,Ahmedabad,19918,2021-11-11,Special
68,Vistara Premium Economy,21:05,16h 45m,1 Stop,Chennai,Goa,32014,2021-11-11,Special
69,Vistara Premium Economy,17:10,20h 40m,1 Stop,Chennai,Goa,32014,2021-11-11,Special
70,Vistara Premium Economy,10:45,27h 05m,1 Stop,Chennai,Goa,32014,2021-11-11,Special

In [49]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BOM','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','BLR','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','CCU','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','HYD','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','AMD','13','11','2021','Special')
time.sleep(4)
get_yatra('MAA','GOI','13','11','2021','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Chennai'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2021-11-13'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,10:45,2h 45m,Non Stop,Chennai,New Delhi,8494,2021-11-13,Special
1,Vistara Premium Economy,06:55,2h 50m,Non Stop,Chennai,New Delhi,8494,2021-11-13,Special
2,Vistara Premium Economy,17:10,2h 45m,Non Stop,Chennai,New Delhi,8998,2021-11-13,Special
3,Vistara Premium Economy,21:05,2h 50m,Non Stop,Chennai,New Delhi,8998,2021-11-13,Special
4,Vistara Premium Economy,06:55,7h 05m,1 Stop,Chennai,Mumbai,14451,2021-11-13,Special
...,...,...,...,...,...,...,...,...,...
69,Vistara Premium Economy,17:10,14h 55m,1 Stop,Chennai,Ahmedabad,17958,2021-11-13,Special
70,Vistara Premium Economy,10:45,8h 55m,1 Stop,Chennai,Ahmedabad,19918,2021-11-13,Special
71,Vistara Premium Economy,06:55,12h 45m,1 Stop,Chennai,Ahmedabad,19918,2021-11-13,Special
72,Vistara Premium Economy,21:05,22h 35m,1 Stop,Chennai,Ahmedabad,20422,2021-11-13,Special
73,Vistara Premium Economy,17:10,26h 30m,1 Stop,Chennai,Ahmedabad,20422,2021-11-13,Special

In [52]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','16','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','16','11','2021','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Chennai'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2021-11-16'
z1['fclass'] = 'Business'
z1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,11:20,2h 35m,Non Stop,Chennai,Kolkata,20000,2021-11-16,Business
1,Air India Business,06:10,8h 20m,1 Stop,Chennai,Kolkata,44611,2021-11-16,Business
2,Air India Business,09:55,9h 15m,1 Stop,Chennai,Kolkata,44611,2021-11-16,Business
3,Air India Business,09:55,12h 25m,1 Stop,Chennai,Kolkata,44611,2021-11-16,Business
4,Air India Business,06:10,13h 00m,1 Stop,Chennai,Kolkata,44611,2021-11-16,Business
...,...,...,...,...,...,...,...,...,...
66,Air India Business,17:00,25h 10m,1 Stop,Chennai,Ahmedabad,62711,2021-11-16,Business
67,Vistara Business,09:45,9h 55m,2 Stop(s),Chennai,Ahmedabad,87667,2021-11-16,Business
68,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,87667,2021-11-16,Business
69,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,87667,2021-11-16,Business
70,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,87667,2021-11-16,Business

In [56]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','1','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','1','11','2021','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Chennai'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2021-11-1'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Business,21:05,2h 50m,Non Stop,Chennai,New Delhi,28928,2021-11-1,Business
1,Vistara Business,21:05,16h 55m,1 Stop,Chennai,Mumbai,58754,2021-11-1,Business
2,Vistara Business,21:05,22h 00m,1 Stop,Chennai,Mumbai,59874,2021-11-1,Business
3,Vistara Business,21:05,10h 55m,1 Stop,Chennai,Mumbai,64354,2021-11-1,Business
4,Vistara Business,21:05,15h 30m,1 Stop,Chennai,Mumbai,64354,2021-11-1,Business
5,Vistara Business,21:05,17h 55m,1 Stop,Chennai,Mumbai,64354,2021-11-1,Business
6,Vistara Business,21:05,20h 35m,1 Stop,Chennai,Mumbai,64354,2021-11-1,Business
7,Vistara Business,21:05,26h 45m,1 Stop,Chennai,Mumbai,64354,2021-11-1,Business
8,Vistara Business,21:05,14h 30m,1 Stop,Chennai,Mumbai,64914,2021-11-1,Business
9,Vistara Business,21:05,25h 45m,1 Stop,Chennai,Mumbai,64914,2021-11-1,Business
10,Vistara Business,21:05,14h 05m,1 Stop,Chennai,Mumbai,66594,2021-11-1,Business
11,Vistara Business,21:05,12h 40m,1 Stop,Chennai,Mumbai,72754,2021-11-1,Business
12,Vistara Business,21:05,23h 00m,1 Stop,Chennai,Mumbai,72754,2021-11-1,Business
13,Vistara Business,21:05,15h 55m,2 Stop(s),Chennai,Mumbai,74580,2021-11-1,Business
14,Vistara Business,21:05,24h 55m,1 Stop,Chennai,Mumbai,78354,2021-11-1,Business
15,Vistara Business,21:05,24h 10m,1 Stop,Chennai,Mumbai,81154,2021-11-1,Business

In [59]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','4','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','4','11','2021','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Chennai'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2021-11-4'
z3['fclass'] = 'Business'
z3

Empty DataFrame
Columns: [airlines, departure, duration, stops, from_city, to_city, price, journey_date, fclass]
Index: []

In [60]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','7','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','7','11','2021','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Chennai'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2021-11-7'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,14:55,26h 55m,1 Stop,Chennai,Ahmedabad,31662,2021-11-7,Business
1,Air India Business,09:55,8h 15m,1 Stop,Chennai,Ahmedabad,42664,2021-11-7,Business
2,Air India Business,06:10,12h 00m,1 Stop,Chennai,Ahmedabad,42664,2021-11-7,Business
3,Vistara Business,10:45,8h 55m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
4,Vistara Business,21:05,11h 00m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
5,Vistara Business,06:55,12h 45m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
6,Vistara Business,17:10,14h 55m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
7,Vistara Business,10:45,21h 20m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
8,Vistara Business,21:05,22h 35m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
9,Vistara Business,06:55,25h 10m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
10,Vistara Business,17:10,26h 30m,1 Stop,Chennai,Ahmedabad,45465,2021-11-7,Business
11,Vistara Business,21:05,13h 15m,1 Stop,Chennai,Ahmedabad,50449,2021-11-7,Business
12,Vistara Business,17:10,17h 10m,1 Stop,Chennai,Ahmedabad,50449,2021-11-7,Business
13,Vistara Business,10:45,23h 35m,1 Stop,Chennai,Ahmedabad,50449,2021-11-7,Business
14,Vistara Business,06:55,27h 25m,1 Stop,Chennai,Ahmedabad,50449,2021-11-7,Business
15,Air India Business,06:20,11h 50m,2 Stop(s),Chennai,Ahmedabad,57286,2021-11-7,Business
16,Vistara Business,09:45,9h 55m,2 Stop(s),Chennai,Ahmedabad,75179,2021-11-7,Business
17,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,75179,2021-11-7,Business
18,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,82683,2021-11-7,Business
19,Vistara Business,07:00,12h 40m,2 Stop(s),Chennai,Ahmedabad,82683,2021-11-7,Business
20,Air India Business,14:55,15h 55m,1 Stop,Chennai,Goa,31622,2021-11-7,Business
21,Air India Business,06:20,24h 30m,1 Stop,Chennai,Goa,31622,2021-11-7,Business
22,Vistara Business,09:45,5h 10m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
23,Vistara Business,07:00,7h 55m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
24,Vistara Business,20:30,11h 20m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
25,Vistara Business,20:30,18h 25m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
26,Vistara Business,09:45,22h 05m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
27,Vistara Business,07:00,24h 50m,1 Stop,Chennai,Goa,35889,2021-11-7,Business
28,Vistara Business,12:30,19h 20m,1 Stop,Chennai,Goa,44737,2021-11-7,Business
29,Vistara Business,12:30,26h 25m,1 Stop,Chennai,Goa,44737,2021-11-7,Business
30,Vistara Business,07:00,5h 45m,1 Stop,Chennai,Goa,53585,2021-11-7,Business
31,Vistara Business,21:05,24h 15m,1 Stop,Chennai,Goa,57673,2021-11-7,Business
32,Vistara Business,17:10,28h 10m,1 Stop,Chennai,Goa,57673,2021-11-7,Business
33,Vistara Business,10:45,10h 35m,1 Stop,Chennai,Goa,69377,2021-11-7,Business
34,Vistara Business,06:55,14h 25m,1 Stop,Chennai,Goa,69377,2021-11-7,Business
35,Vistara Business,21:05,16h 45m,1 Stop,Chennai,Goa,69377,2021-11-7,Business
36,Vistara Business,17:10,20h 40m,1 Stop,Chennai,Goa,69377,2021-11-7,Business
37,Vistara Business,10:45,27h 05m,1 Stop,Chennai,Goa,69377,2021-11-7,Business
38,Vistara Business,06:55,6h 55m,1 Stop,Chennai,Goa,77777,2021-11-7,Business
39,Vistara Business,09:45,11h 35m,2 Stop(s),Chennai,Goa,99091,2021-11-7,Business

In [61]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','10','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','10','11','2021','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Chennai'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2021-11-10'
z5['fclass'] = 'Business'
z5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,06:10,2h 45m,Non Stop,Chennai,New Delhi,25001,2021-11-10,Business
1,Air India Business,09:55,3h 05m,Non Stop,Chennai,New Delhi,25001,2021-11-10,Business
2,Vistara Business,10:45,2h 45m,Non Stop,Chennai,New Delhi,27792,2021-11-10,Business
3,Vistara Business,17:10,2h 45m,Non Stop,Chennai,New Delhi,27792,2021-11-10,Business
4,Vistara Business,06:55,2h 50m,Non Stop,Chennai,New Delhi,27792,2021-11-10,Business
...,...,...,...,...,...,...,...,...,...
97,Vistara Business,17:10,20h 40m,1 Stop,Chennai,Goa,64337,2021-11-10,Business
98,Vistara Business,10:45,27h 05m,1 Stop,Chennai,Goa,64337,2021-11-10,Business
99,Vistara Business,09:45,11h 35m,2 Stop(s),Chennai,Goa,87387,2021-11-10,Business
100,Vistara Business,07:00,14h 20m,2 Stop(s),Chennai,Goa,87387,2021-11-10,Business
101,Vistara Business,07:00,14h 20m,2 Stop(s),Chennai,Goa,94891,2021-11-10,Business

In [62]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('MAA','DEL','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BOM','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','BLR','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','CCU','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','HYD','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','AMD','13','11','2021','Business')
time.sleep(4)
get_yatra('MAA','GOI','13','11','2021','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Chennai'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2021-11-13'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,06:10,2h 45m,Non Stop,Chennai,New Delhi,25001,2021-11-13,Business
1,Air India Business,09:55,3h 05m,Non Stop,Chennai,New Delhi,25001,2021-11-13,Business
2,Vistara Business,10:45,2h 45m,Non Stop,Chennai,New Delhi,27792,2021-11-13,Business
3,Vistara Business,17:10,2h 45m,Non Stop,Chennai,New Delhi,27792,2021-11-13,Business
4,Vistara Business,06:55,2h 50m,Non Stop,Chennai,New Delhi,27792,2021-11-13,Business
...,...,...,...,...,...,...,...,...,...
95,Vistara Business,09:45,24h 00m,1 Stop,Chennai,Kolkata,48209,2021-11-13,Business
96,Vistara Business,07:00,26h 45m,1 Stop,Chennai,Kolkata,48209,2021-11-13,Business
97,Vistara Business,10:45,12h 00m,1 Stop,Chennai,Kolkata,48657,2021-11-13,Business
98,Vistara Business,21:05,12h 20m,1 Stop,Chennai,Kolkata,48657,2021-11-13,Business
99,Vistara Business,06:55,15h 50m,1 Stop,Chennai,Kolkata,48657,2021-11-13,Business

In [63]:
maa = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
maa.shape
maa.to_excel('maaflight.xlsx')